<!-- SVG Shape Divider-->
<div class="position-absolute z-index-50 text-white top-0 start-0 end-0">
    {{> svg/svg-divider-top-lr colorClass="text-white" positionClass="top-0 start-0 end-0" }}
</div>
<!-- /SVG Shape Divider-->

<div class="w-100 h-100 bg-img-cover bg-pos-center-center hotspot-container py-5 py-md-7 py-lg-10"
     style="background-image: url(https://wallpapercave.com/wp/wp5145285.jpg);">
    <!--
    <div class="hotspot d-none d-lg-block" data-options='{
        "placement": {
            "left": "68%",
            "bottom": "40%"
        },
        "alwaysVisible": true,
        "alwaysAnimate": true,
        "contentTarget": "#hotspot-one",
        "trigger": "mouseenter"
    }'>
    </div>
    <div class="hotspot d-none d-lg-block" data-options='{
        "placement": {
            "left": "53%",
            "top": "40%"
        },
        "alwaysVisible": true,
        "alwaysAnimate": true,
        "contentTarget": "#hotspot-one"
    }'>
    </div>
    -->
    <div class="container py-lg-8 position-relative z-index-10 d-flex align-items-center" data-aos="fade-left">
        <div class="py-8 d-flex justify-content-end align-items-start align-items-lg-end flex-column col-lg-4 text-lg-end">
            <p class="small fw-bolder text-uppercase tracking-wider mb-2 text-muted">Innovation</p>
            <h2 class="display-5 fw-bold mb-3">Ein Produkt was dein Leben verändert</h2>
            <p class="lead d-none d-lg-block">Sei es am Computer oder draußen im Schnee. Egal wie alt du bist! Dieses Produkt wird dein Leben für immer verändern!</p>
            <a class="text-decoration-none fw-bolder" href="#">Kaufe jetzt&rarr;</a>
        </div>
    </div>

</div>

<!-- SVG Shape Divider-->
<div class="position-absolute z-index-50 text-white bottom-0 start-0 end-0">
    {{> svg/svg-divider-bottom-rl colorClass="text-white" positionClass="bottom-0 start-0 end-0" }}
</div>
<!-- /SVG Shape Divider-->