<div class="swiper-container h-100 swiper-linked-carousel-large">

    <div class="swiper-wrapper h-100">

        <!-- Swiper Slide-->
        <div class="swiper-slide">
            <div class="row g-3">
                <div class="col-12 col-md-6">
                    {{> 
                        listing-cards/listing-card
                        img="{{webRoot}}/assets/images/products/product-1.jpg"
                        title="Metin der Dunkelheit"
                        options="Availble in 4 colours, 7 sizes"
                        currency="$"
                        price="1699.87"
                        review-width="80%"
                        review-count="4.7 (1669)"
                    }}
                </div>
                <div class="col-12 col-md-6">
                    {{> 
                        listing-cards/listing-card
                        img="{{webRoot}}/assets/images/products/product-1.jpg"
                        title="Metin der Dunkelheit"
                        options="Availble in 4 colours, 7 sizes"
                        currency="$"
                        price="1699.87"
                        review-width="80%"
                        review-count="4.7 (1669)"
                    }}
                </div>
                <div class="col-12 col-md-6">
                    {{> 
                        listing-cards/listing-card
                        img="{{webRoot}}/assets/images/products/product-1.jpg"
                        title="Metin der Dunkelheit"
                        options="Availble in 4 colours, 7 sizes"
                        currency="$"
                        price="1699.87"
                        review-width="80%"
                        review-count="4.7 (1669)"
                    }}
                </div>
                <div class="col-12 col-md-6">
                    {{> 
                        listing-cards/listing-card
                        img="{{webRoot}}/assets/images/products/product-1.jpg"
                        title="Metin der Dunkelheit"
                        options="Availble in 4 colours, 7 sizes"
                        currency="$"
                        price="1699.87"
                        review-width="80%"
                        review-count="4.7 (1669)"
                    }}
                </div>
            </div>
        </div>
        <!-- /Swiper Slide-->

        <!-- Swiper Slide-->
        <div class="swiper-slide">
            <div class="row g-3">
                <div class="col-12 col-md-6">
                    {{> 
                        listing-cards/listing-card
                        img="{{webRoot}}/assets/images/products/product-1.jpg"
                        title="Metin der Dunkelheit"
                        options="Availble in 4 colours, 7 sizes"
                        currency="$"
                        price="1699.87"
                        review-width="80%"
                        review-count="4.7 (1669)"
                    }}
                </div>
                <div class="col-12 col-md-6">
                    {{> 
                        listing-cards/listing-card
                        img="{{webRoot}}/assets/images/products/product-1.jpg"
                        title="Metin der Dunkelheit"
                        options="Availble in 4 colours, 7 sizes"
                        currency="$"
                        price="1699.87"
                        review-width="80%"
                        review-count="4.7 (1669)"
                    }}
                </div>
                <div class="col-12 col-md-6">
                    {{> 
                        listing-cards/listing-card
                        img="{{webRoot}}/assets/images/products/product-1.jpg"
                        title="Metin der Dunkelheit"
                        options="Availble in 4 colours, 7 sizes"
                        currency="$"
                        price="1699.87"
                        review-width="80%"
                        review-count="4.7 (1669)"
                    }}
                </div>
                <div class="col-12 col-md-6">
                    {{> 
                        listing-cards/listing-card
                        img="{{webRoot}}/assets/images/products/product-1.jpg"
                        title="Metin der Dunkelheit"
                        options="Availble in 4 colours, 7 sizes"
                        currency="$"
                        price="1699.87"
                        review-width="80%"
                        review-count="4.7 (1669)"
                    }}
                </div>
            </div>
        </div>
        <!-- /Swiper Slide-->

        <!-- Swiper Slide-->
        <div class="swiper-slide">
            <div class="row g-3">
                <div class="col-12 col-md-6">
                    {{> 
                        listing-cards/listing-card
                        img="{{webRoot}}/assets/images/products/product-1.jpg"
                        title="Metin der Dunkelheit"
                        options="Availble in 4 colours, 7 sizes"
                        currency="$"
                        price="1699.87"
                        review-width="80%"
                        review-count="4.7 (1669)"
                    }}
                </div>
                <div class="col-12 col-md-6">
                    {{> 
                        listing-cards/listing-card
                        img="{{webRoot}}/assets/images/products/product-1.jpg"
                        title="Metin der Dunkelheit"
                        options="Availble in 4 colours, 7 sizes"
                        currency="$"
                        price="1699.87"
                        review-width="80%"
                        review-count="4.7 (1669)"
                    }}
                </div>
                <div class="col-12 col-md-6">
                    {{> 
                        listing-cards/listing-card
                        img="{{webRoot}}/assets/images/products/product-1.jpg"
                        title="Metin der Dunkelheit"
                        options="Availble in 4 colours, 7 sizes"
                        currency="$"
                        price="1699.87"
                        review-width="80%"
                        review-count="4.7 (1669)"
                    }}
                </div>
                <div class="col-12 col-md-6">
                    {{> 
                        listing-cards/listing-card
                        img="{{webRoot}}/assets/images/products/product-1.jpg"
                        title="Metin der Dunkelheit"
                        options="Availble in 4 colours, 7 sizes"
                        currency="$"
                        price="1699.87"
                        review-width="80%"
                        review-count="4.7 (1669)"
                    }}
                </div>
            </div>
        </div>
        <!-- /Swiper Slide-->

    </div>
</div>