<div class="row py-lg-5">

    <!-- menu row-->
    <div class="col col-lg-6 mb-5 mb-sm-0">
        <h6 class="dropdown-heading">Dandersorte</h6>
        <ul class="list-unstyled">
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Dander</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Dander</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Danderg</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Dander</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Dander</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Dander</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Dander</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Dander</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item dropdown-link-all"
                    href="{{webRoot}}/category.html">Alle anzeigen</a></li>
        </ul>

    </div>
    <!-- /menu row-->

    <!-- menu row-->
    <div class="col col-lg-6">
        <h6 class="dropdown-heading">Geschmacksrichtung</h6>
        <ul class="list-unstyled">
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Kirsche</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Apfel</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Schokolade</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Himbeer</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Ananas</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Banane</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Erdbeer</a>
            </li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Jalapeno</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item dropdown-link-all"
                    href="{{webRoot}}/category.html">Alle anzeigen</a></li>
        </ul>
    </div>
    <!-- /menu row-->

</div>