<div class="row py-lg-5">

    <!-- menu row-->
    <div class="col col-lg-6 mb-5 mb-sm-0">
        <h6 class="dropdown-heading">Metinsteine</h6>
        <ul class="list-unstyled">
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Metin der Dunkelheit</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Metin des Todes</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Metin der Vernichtung</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Metin des Todes</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Metin des Todes</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Metin des Todes</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Metin des Todes</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Metin des Todes</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item dropdown-link-all"
                    href="{{webRoot}}/category.html">Alle anzeigen</a></li>
        </ul>

    </div>
    <!-- /menu row-->

    <!-- menu row-->
    <div class="col col-lg-6">
        <h6 class="dropdown-heading">Levelbereich</h6>
        <ul class="list-unstyled">
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">1-10</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">10-20</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">20-30</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">30-40</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">40-50</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">50-60</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">60-70</a>
            </li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">70-80</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item dropdown-link-all"
                    href="{{webRoot}}/category.html">Alle anzeigen</a></li>
        </ul>
    </div>
    <!-- /menu row-->

</div>