<div class="row g-3">
    <div class="col-12 col-lg-4" data-aos="fade-left">
        <div class="bg-light p-4 d-flex h-100 justify-content-start align-items-center flex-column text-center">
            <p class="fw-bolder lead">Lebensverändert!</p>
            <p class="mb-3">Hier kauf ich immer wieder. Perfektes Produkt!</p>
            <small class="text-muted d-block mb-2 fw-bolder">Tam Dinh, Hamburg</small>
            {{> reviews/review-stars-small width="75%" }}
        </div>
    </div>
    <div class="col-12 col-lg-4" data-aos="fade-left" data-aos-delay="150">
        <div class="bg-light p-4 d-flex h-100 justify-content-start align-items-center flex-column text-center">
            <p class="fw-bolder lead">Sehr günstig</p>
            <p class="mb-3">Noch nie so einen guten Preis gesehen.</p>
            <small class="text-muted d-block mb-2 fw-bolder">Donald Duck, Dublin</small>
            {{> reviews/review-stars-small width="75%" }}
        </div>
    </div>
    <div class="col-12 col-lg-4" data-aos="fade-left" data-aos-delay="300">
        <div class="bg-light p-4 d-flex h-100 justify-content-start align-items-center flex-column text-center">
            <p class="fw-bolder lead">Burner</p>
            <p class="mb-3">Paul Walker.</p>
            <small class="text-muted d-block mb-2 fw-bolder">Paul Walker, Tartaros</small>
            {{> reviews/review-stars-small width="100%" }}
        </div>
    </div>
</div>
<div class="d-flex justify-content-center flex-column mt-7 align-items-center">
    <h3 class="mb-4 fw-bold fs-4">Was sagen andere:</h3>
    <div class="d-flex justify-content-center align-items-center">
        <span class="fs-3 fw-bold me-4">4.85 / 5</span>
        {{> reviews/review-stars-medium colour="text-dark" width="88%" }}
    </div>
    <a href="#" class="btn btn-dark rounded-0 mt-4">Lese 4,215 mehr Bewertungen</a>
</div>